<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEAM</key>
	<dict>
		<key>OMACSpecificationVersion</key>
		<string>1.0</string>
		<key>OMACPayloadVersion</key>
		<string>1.0</string>
		<key>server</key>
		<dict>
			<key>useSSL</key>
			<true/>
			<key>path</key>
			<string>deviceservices</string>
			<key>port</key>
			<string>443</string>
			<key>host</key>
			<string>demo.awmdm.com</string>
		</dict>
		<key>user</key>
		<dict>
			<key>uid</key>
			<string></string>
			<key>mail</key>
			<string></string>
			<key>domain</key>
			<string></string>
			<key>sn</key>
			<string></string>
			<key>displayName</key>
			<string></string>
		</dict>
		<key>branding</key>
		<dict>
			<key>companyName</key>
			<string></string>
			<key>logo</key>
			<string>https://server/logo.png</string>
			<key>wallpaper</key>
			<string></string>
		</dict>
		<key>applicationaccess</key>
		<dict>
			<key>allowCelluar</key>
			<false/>
			<key>allowRoaming</key>
			<false/>
			<key>allowCutCopyPaste</key>
			<false/>
			<key>allowedCloudSyncApps</key>
			<array>
				<string>com.air-watch.content.locker</string>
				<string>com.apple.icloud</string>
				<string>net.box.BoxNet</string>
				<string>com.google.Drive</string>
				<string>com.getdropbox.Dropbox</string>
				<string>com.microsoft.skydrive</string>
			</array>
			<key>allowCloudSync</key>
			<false/>
			<key>requirePasscode</key>
			<false/>
		</dict>
		<key>mdm</key>
		<dict>
			<key>FeedbackNotifyURL</key>
			<string></string>
			<key>AppScheme</key>
			<string>airwatch</string>
			<key>ManagementProviderURL</key>
			<string></string>
			<key>ManagementProvider</key>
			<string>com.airwatch.airwatch</string>
			<key>ManagementID</key>
			<string></string>
			<key>DeviceUID</key>
			<string></string>
		</dict>
		<key>authentication</key>
		<dict>
			<key>ssoAuthenticationURL</key>
			<string></string>
			<key>appcertificateSignedCSR</key>
			<data></data>
			<key>OAuthToken</key>
			<string>0</string>
			<key>OAuthSecret</key>
			<string></string>
		</dict>
		<key>logging</key>
		<dict>
			<key>level</key>
			<string></string>
		</dict>
	</dict>
	<key>Custom1</key>
	<string></string>
	<key>CustomN</key>
	<string></string>
</dict>
</plist>
