<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEAM</key>
	<dict>
		<key>mdm</key>
		<dict>
			<key>encryptionCert</key>
			<data>MjAxMy0wOS0wM1QxNzoxNzo0NFo=</data>
		</dict>
		<key>authentication</key>
		<dict>
			<key>appcertificateCSR</key>
			<data>MjAxMy0wOC0yOVQxNDowOTo0NVo=</data>
		</dict>
		<key>logs</key>
		<array>
			<dict>
				<key>SystemTime</key>
				<date>2013-08-21T01:30:46Z</date>
				<key>Level</key>
				<string>ERROR</string>
				<key>ErrorCode</key>
				<string>204</string>
				<key>ErrorDescription</key>
				<string>details of the error</string>
			</dict>
			<dict>
				<key>SystemTime</key>
				<date>2013-08-21T01:30:46Z</date>
				<key>Level</key>
				<string>INFO</string>
				<key>ErrorCode</key>
				<string>876</string>
				<key>ErrorDescription</key>
				<string>details of the error</string>
			</dict>
			<dict>
				<key>SystemTime</key>
				<date>2013-08-21T01:30:46Z</date>
				<key>Level</key>
				<string>DEBUG</string>
				<key>ErrorCode</key>
				<string>1123</string>
				<key>ErrorDescription</key>
				<string>details of the error</string>
			</dict>
		</array>
		<key>analytics</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Usage</string>
				<key>SystemTimeLaunch</key>
				<date>2013-08-21T01:34:41Z</date>
				<key>SystemTimeSuspend</key>
				<date>2013-08-21T01:34:43Z</date>
			</dict>
			<dict>
				<key>Type</key>
				<string>Usage</string>
				<key>SystemTimeLaunch</key>
				<date>2013-08-21T01:34:45Z</date>
				<key>SystemTimeSuspend</key>
				<date>2013-08-21T01:34:47Z</date>
			</dict>
			<dict>
				<key>Type</key>
				<string>Usage</string>
				<key>SystemTimeLaunch</key>
				<date>2013-08-21T01:34:50Z</date>
				<key>SystemTimeSuspend</key>
				<date>2013-08-21T01:34:52Z</date>
			</dict>
		</array>
	</dict>
	<key>Custom1</key>
	<string></string>
	<key>CustomN</key>
	<string></string>
</dict>
</plist>
